<mat-card class='game-day-card'>
  <mat-card-header>
    <mat-card-title class="game-date">{{gameDay.date | date: 'mediumDate':'+0200': 'ru'}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let game of gameDay.games">
      <app-game [game]="game"></app-game>
    </div>
  </mat-card-content>
  <mat-card-footer *ngIf="false">
    <p>{{resultGame.winner.playerId}}{{resultGame.winner.points}}</p>
    <p>{{resultGame.looser.playerId}}{{resultGame.looser.points}}</p>
  </mat-card-footer>
</mat-card>
