<mat-card class='game-day-card'>
  <mat-card-header>
    <mat-card-title><div class="game-date">{{gameDay.date | date: 'mediumDate':'+0200': 'ru'}}</div></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let game of gameDay.games">
      <app-game [game]="game"></app-game>
    </div>
  </mat-card-content>
  <mat-card-footer *ngIf="result">
    <img mat-card-avatar src="assets/img/{{result.winnerId}}.png" class="player-header-image">
     <div class="result-score">{{result.winnerPoints}} : {{result.looserPoints}} </div>
    <img mat-card-avatar src="assets/img/{{result.looserId}}.png" class="player-header-image">
  </mat-card-footer>
</mat-card>
