<div class="container">
  <div class="header">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/gamedays'"> Матчи </a>
          <a mat-button [routerLink]="'/players'"> Игроки </a>
          <a mat-button [routerLink]="'/stats'"> Статистика </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer"><h1>FOOTER</h1></div>
</div>
